@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden text-base bg-gradient-to-br from-accent-light-100 to-accent-light-200 bg-fixed;
  font-family: "Poppins", sans-serif;
  padding: 2.2rem 1rem;
  line-height: 1.5;
}
/* bg circle */
.bg-circle {
  @apply fixed top-0 h-full max-w-[75rem] w-[calc(100%-1.875rem)] left-1/2 -translate-x-1/2;
}
.bg-circle div {
  @apply absolute rounded-full;
}
.circle-1 {
  @apply h-14 w-14 bg-accent-400 top-[10%] left-[5%] opacity-[0.3] animate-[zoom-in-zoom-out_5s_ease-in-out_infinite];
}
.circle-2 {
  @apply h-[5rem] w-[5rem] bg-main-color top-[50%] left-[30%] animate-[bounce_5s_ease-in-out_infinite] opacity-[0.4];
}
.circle-3 {
  @apply h-[7.5rem] w-[7.5rem] bg-white top-[40%] right-[-3.75rem] opacity-[0.6];
}
.circle-4 {
  @apply h-[3.125rem] w-[3.125rem] bg-accent-300 top-[80%] left-[-1.75rem] opacity-[0.6] animate-[bounce_7s_ease-in-out_infinite];
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}
